html {
  scroll-behavior: smooth;
height:100%;
}
 
body{
	background-color: #bccec0;
		height:100;
}

#topbar{
    background-color: #bccec0;
}

#botbar{
    background-color: #ffe9e9;
}

#profile{
    max-width: 50%;
}

#profile-name{
    font-weight: 700;
    font-size: 20px;
}


.scroll{
	font-family:'Monsterrat', sans-serif;
	font-size:8px;
	color:#d4d4d4
}
.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :100px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


#logo{
	margin-left:100px;
}






.parallax { 
  /* The image used */
  background: url(../images/snowman_preview.jpg);
	opacity:50%;
  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax2 { 
  /* The image used */
  background: url(../images/mudbox_preview.jpg);
	opacity:80%;
  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax3 { 
  /* The image used */
  background: url(../images/lathed.jpg);
	opacity:80%;
  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax4 { 
  /* The image used */
  background: url(../images/spaceman.png);
	opacity:80%;
  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.icon {
	padding: 15px 5px 0px 5px; 
	
	font-size:20px;
	
	color: #ffffff;
}


#aboutme{
	
	padding-bottom:200px;
}
h1 {
    font-family: 'Merriweather', serif;
    font-size: 50px;
	padding:20px;
}


.headertext {
    font-family: 'Merriweather', serif;
    font-size: 70px;
	padding:20px;
}


h2 {
    font-family: 'Merriweather', sans-serif;
	font-size: 28px;
	margin-top:40px;
}


#text1 {
    font-family: 'Merriweather', sans-serif;
	font-size: 18px;
	margin-top:40px;
}
h3 {
    font-family: 'Merriweather', sans-serif;
	font-size: 22px;
	padding-top:10px;
}


p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
	opacity:1.0;
	padding:5px;
}



.projects {
	background-color:#bccec0;
	padding:50px;

}

.about {
	background-color:#bccec0;
	padding:50px;

}



.services {
	background-color:#ffe9e9;
	padding:50px;

}


.container1 {
  position: relative;
  width: 100%;
}

.image1 {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container1:hover .image {
  opacity: 0.3;
}

.container1:hover .middle {
  opacity: 1;
}

.text {
  background-color: #9dafa4;
  color: #000000;
  font-size: 16px;
  padding: 16px 32px;
}

.text:hover{
	color:#ffffff;
}
/* unvisited link */
.phone:link {
  color: white;
}

/* visited link */
.phone:visited {
  color: black;
}

/* mouse over link */
.phone:hover {
  background-color: white;
  color: #3b8fcc;
}

/* selected link */
.phone:active {
  color: blue;
}

a:hover{
	background-color:#b5b5b5;
	opacity:50;
	text-decoration: none;
}

i {
	font-size:50px;
	color: #1f5881;
}




.link {
	color: #1f5881;
	font-size:18px;
}

.link:hover {
	color: #ffffff;

}

#plumbing{
	padding-right:50px;
	padding-bottom:50px;
}



#videosList {
 max-width: 600px; 
  overflow: hidden;
}

.video {
  height: 330px;
  width: 600px;
  margin-bottom: 50px;
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


#serviceslist{
	list-style: none;
	font-size:15px;
}

#programslist{
	list-style: none;
	font-size:10px;
}

li {
	padding-top: 10px;
	padding-bottom: 10px;
}



.img-fluid2 {
	height:500px;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
	
	

.icon-scroll,
.icon-scroll:before
  position: absolute
  left: 50%

.icon-scroll
  width: 40px
  height: 70px
  margin-left: -20px
  top: 50%
  margin-top: -35px
  box-shadow: inset 0 0 0 1px #fff
  border-radius: 25px

.icon-scroll:before
  content: ''
  width: 8px
  height: 8px
  background: #fff
  margin-left: -4px
  top: 8px
  border-radius: 4px
  animation-duration: 1.5s
  animation-iteration-count: infinite
  animation-name: scroll

@keyframes scroll
  0%
    opacity: 1
  100%
    opacity: 0
    transform: translateY(46px)	

	
.link {
	font-family: 'Monsterrat', sans-serif;
	font-size: 10px;
	}
	
